@model HomeViewModel

<h2>Все Концерты</h2>
<div class="row mt-5 mb-2">
    @{
        foreach (Concert concert in Model.concerts)
        {
            @Html.Partial("AllConcerts", concert);
        }
    }
</div>