@model CashBoxViewModel

<div class="container">
    @foreach (var el in Model.cashBox.tickets)
    {
        <div class="alert alert-warning m-3">
            <b>Концерт: </b>@el.Concert.ExectorName<br>
            <b>Место: </b>@el.Concert.LocationOfConcert<br>
            <b>Цена: </b>@el.Concert.Price<br>
        </div>
    }
    <a class="btn btn-danger mb-5" asp-controller="Ticket" asp-action="Checkout">Купить</a>
</div>