@model ConcertViewModel
@{
    ViewData["Title"] = "AddConcert";
}

<h1>AddConcert</h1>
@{
    <div>
        <h6>Название группы:</h6>
        <input maxlength="25" size="40" value=@Model.ExectorName/>
        <h6>Дата концерта: </h6>
        <input maxlength="25" size="40" value=@Model.CountOfTicket/>
        <h6>Количество билетов:</h6>
        <input maxlength="25" size="40" value=@Model.DateOfConcert/>
        <h6>Картинка:</h6>
        <input maxlength="25" size="40" value=@Model.LocationOfConcert/>
        <h6>Цена:</h6>
        <input maxlength="25" size="40" value=@Model.Price/>
        <h6>Место провидения:</h6>
        <input maxlength="25" size="40" value=@Model.Img/>
    </div>
}
@Html.ActionLink("Add", "AddNewConcert", new { concertViewModel = Model, redirectUrl = Model.RedirectUrl })

